@font-face {
  font-family: "hanken grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
  font-weight: 100 1000;
}
/* Create flex container with column direction */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Set box sizing to border-box for all elements */
*{
  box-sizing: border-box;
  font-weight: 800;
}
body{
  font-family: "hanken grotesk", sans-serif;
  margin: 0;
}
h1,h2{
  font-size: 1.2rem;
}
p{
  font-size: 18px;
  font-weight: 500;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px;
}
main.cards-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.2fr;
}
section.card-1, section.card-2{
  flex-direction: column;
  width: 100%;
}
section.card-1{
  justify-content: start;
  padding: 10px 40px 20px;
  grid-row: 1 / 2;
  border: 2px solid;
  text-align: center;
  border-radius: 0 0 40px 40px;
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color:hsla(0, 0%, 100%, 0.7);
}
strong{
  color: white;
}
section.card-1 .result{
  width: 9em;
  height: 9em;
  border-radius: 50%;
  margin-top: 10px;
  background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.result > p{
  margin-top: 25px;
  color: hsl(252, 100%, 75%)
}
.result > p > strong{
  font-size: 3.5rem;
}
.result + p{
  font-size: 1.5rem;
  margin-bottom: -5px;
}
section.card-2{
  padding: 10px 30px;
  z-index: -1;
  margin-top: -30px;
  grid-row: 2 / 3;
  align-items: flex-start;
  font-stretch:narrower;
}
section.card-2 > h2{
  color:hsla(0, 0%, 0%, 0.8);
  margin-top: 50px;
}
section.card-2 > ul{
  width: 100%;
  list-style: none;
  padding: 0;
}

section.card-2 > ul > li{
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 10px;
  border-radius: 10px;
}
ul > li:first-child{
  background-color: hsla(0, 100%, 67%, 0.05);
  color: hsl(0, 100%, 67%);
}
ul > li:nth-child(2){
  background-color: hsl(39, 100%, 56%, 0.05);
  color: hsl(39, 100%, 56%);
}
ul > li:nth-child(3){
  background-color: hsl(166, 100%, 37%, 0.05);
  color: hsl(166, 100%, 37%);
}
ul > li:nth-child(4){
  background-color: hsl(234, 85%, 45%, 0.05);
  color: hsl(234, 85%, 45%);
}
ul span:first-child{
  color: hsl(258, 18%, 30%);
}
ul span:last-child{
  color: hsl(273, 6%, 63%);
}
section.card-2 > ul > li > div{
  gap: 10px;
}

section.card-2 > button{
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 1.1rem;
  border: 1px solid #000;
  border-radius: 40px;
  background: hsl(224, 30%, 27%);
  color:hsl(0, 0%, 100%);
}